h1 {
  text-align: center;
  background-color: burlywood;
  margin: 0;
  margin-bottom: 20px;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: fit-content;
  margin: auto;
}
